*-blx.bib
*.acn
*.asv
*.aux
*.auxlock
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dpth
*.dvi
*.ent
*.fff
*.fls
*.glo
*.ist
*.idx
*.ilg
*.ind
*.lof
*.log
*.lors
*.lot
*.md5
*.mod
*.nav
*.o
*.out
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*.synctex*
*.tco
*.tcp
*.tiw
*.tmp
*.tmproj
*.toc
*.tps
*.ttt
*.upa
*.upb
*.vrb
*.xdy
*.zip
.waf*
waf-*
waf3-*
*latexmk
.*
.DS_Store
!.env
.*pdfsvn
__pycache__
~$*
Thumbs.db
___*
!.gitignore