*-blx.bib
*.acn
*.asv
*.aux
*.auxlock
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dpth
*.dvi
*.ent
*.fff
*.fls
*.glo
*.ist
*.idx
*.ilg
*.ind
*.lof
*.log
*.lors
*.lot
*.md5
*.mod
*.nav
*.o
*.out
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*.tco
*.tcp
*.tiw
*.tmp
*.tmproj
*.toc
*.tps
*.ttt
*.upa
*.upb
*.vrb
*.xdy
*.zip
.waf*
waf-*
waf3-*
*latexmk
*synctex.gz
.*
!.environment.osx.yml
!.environment.windows.yml
!.environment.linux.yml
!.env
.*pdfsvn
__pycache__
analysis_out
bld
build
debug
Debug
final_out
formatted_data
project_documentation
scons.py
test
Test
textmatetostata.do
fake
full
~$*
Thumbs.db
___*
!.gitignore
!.mywaflib
.env/workaround.bat
.env/installed_conda_pkgs
.env/installed_pip_pkgs
.env/installed_spec.json